.reviews {
  padding: 0 20px 50px;

  &__wrapper {
    margin-top: 60px;

    @media screen and (max-width: 768px) {
      margin-top: 30px;
    }
  }

  &-item {
    display: flex;
    margin-top: 60px;

    &:first-child {
      margin-top: 0;
    }

    @media screen and (max-width: 768px) {
      margin-top: 30px;
    }

    @media screen and (max-width: 576px) {
      flex-direction: column;
    }

    &__img {
      display: block;
      width: 169px;
      height: 169px;
      border-radius: 100%;

      @media screen and (max-width: 576px) {
        margin: 0 auto;
      }
    }

    &__content {
      margin-left: 60px;

      @media screen and (max-width: 768px) {
        margin-left: 30px;
      }

      @media screen and (max-width: 576px) {
        margin-left: 0;
        margin-top: 30px;
      }
    }

    &__author {
      font-weight: 700;
      font-size: 18px;
      line-height: 100%;
      color: #0d0d0d;
    }

    &__achievements {
      font-weight: 500;
      font-size: 14px;
      color: #646464;
      line-height: 22px;
    }

    &__text {
      margin-top: 10px;
      font-weight: 300;
      font-size: 16px;
      line-height: 150%;
      color: #0d0d0d;

      @media screen and (max-width: 768px) {
        line-height: 120%;
      }
    }
  }
}